.bottomDiv{
    position: fixed;
    bottom: 0px;
}

.game-card{
    max-height: 246px;
    max-width: 144px;
}

.my-card{
    transition: transform .1s linear;
}

.my-card:hover{
    transform: scale(1.05);
}


#Celebration{
    position: absolute;
    top: 40%;
    left: 44%;
}